.DS_Store
*.mode1v3
*.pbxuser
*.orig
*.perspectivev3
build
usr
/build/
*.orig
**/xcuserdata/
*.xcuserstate
*.xcbkptlist
*.xcworkspacedata
system7-tests/integration/case7/*.actual
system7-tests/integration/sandbox
.last-s7-update-check-date
